dexiNedDeeplo/modelDEXIII.png
dexiNedDeeplo/__pycache__/dataset_manager.cpython-38.pyc
dexiNedDeeplo/__pycache__/model.cpython-38.pyc
dexiNedDeeplo/__pycache__/run_model.cpython-38.pyc
dexiNedDeeplo/__pycache__/utls.cpython-38.pyc
dexiNedDeeplo/checkpoints/DexiNed2BIPED/DexiNedL_model.h5
dexiNedDeeplo/checkpoints/DexiNed2BIPEDepochs/DexiNed0_model.h5
dexiNedDeeplo/checkpoints/DexiNed2BIPEDepochs/DexiNed1_model.h5
dexiNedDeeplo/dupa2/current_training/results.png
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727643922.DESKTOP-NCPIPDU.892.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727644609.DESKTOP-NCPIPDU.6424.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727644696.DESKTOP-NCPIPDU.11968.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727644930.DESKTOP-NCPIPDU.13652.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727645030.DESKTOP-NCPIPDU.9360.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727645195.DESKTOP-NCPIPDU.15140.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727645243.DESKTOP-NCPIPDU.12148.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727645318.DESKTOP-NCPIPDU.2076.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727645468.DESKTOP-NCPIPDU.9712.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727646760.DESKTOP-NCPIPDU.13668.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727646974.DESKTOP-NCPIPDU.16812.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727647058.DESKTOP-NCPIPDU.12104.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/test/events.out.tfevents.1727647581.DESKTOP-NCPIPDU.8712.1.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727643922.DESKTOP-NCPIPDU.892.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727644609.DESKTOP-NCPIPDU.6424.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727644696.DESKTOP-NCPIPDU.11968.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727644930.DESKTOP-NCPIPDU.13652.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727645030.DESKTOP-NCPIPDU.9360.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727645195.DESKTOP-NCPIPDU.15140.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727645243.DESKTOP-NCPIPDU.12148.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727645318.DESKTOP-NCPIPDU.2076.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727645468.DESKTOP-NCPIPDU.9712.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727646760.DESKTOP-NCPIPDU.13668.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727646974.DESKTOP-NCPIPDU.16812.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727647058.DESKTOP-NCPIPDU.12104.0.v2
dexiNedDeeplo/logs/DexiNed2BIPED/train/events.out.tfevents.1727647581.DESKTOP-NCPIPDU.8712.0.v2
